.grid-row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-column {
    border: 1px solid black;
}

.inner-row {
    padding: 5%;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
    border: 1px solid black;
    margin: 2px;
}

/* If window size is less than 720px: */
@media screen and (max-width: 720px) {

    .grid-row {

        grid-template-columns: repeat(2, 4fr); /* cols and fraction*/

    }
}

/* If window size is less than 360px: */
@media screen and (max-width: 360px) {

    .grid-row {

        grid-template-columns: 25%; 
    }
}